<div class="container-bg bg-light">
  <!-- <p class="text-center">Contact: +977-9800000000</p> -->
  <h4 class="text-xl-center text-dark" style="font-size: 1.2rem;">Contact: +977-9800000000</h4>
</div>
<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
  <!-- <a href="/" class="navbar-brand d-flex w-50 mr-auto">Event System</a> -->
  <h1 class="text-white d-flex w-50 mr-auto" id="logo">Event System</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-200" id="collapsingNavbar3">
      <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item col-md-2">
              <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item col-md-2">
              <a class="nav-link text-white" href="#events">Events</a>
          </li>
          <li class="nav-item col-md-2">
              <a class="nav-link text-white" href="#">Facilities</a>
          </li>
          <li class="nav-item col-md-2">
              <a class="nav-link text-white" href="#">Book Venue</a>
          </li>
      </ul>
      <!-- <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="#">Right</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Right</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Right</a>
          </li>
      </ul> -->
  </div>
</nav>