{% load static %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    .swiper-container{
        /* width: 600px; */
        height: 720px;
    }
    .swiper-slide {
          background: #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 60px;  
    }
    img{
        width: 1920px;
        height: auto;
    }
</style>

<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
          <img src="../static/images/Event-Management.jpg" alt="Slide 1">
          <!-- <img src="{% static 'images/slider1.jpg' %}" alt="Test"> -->
      </div>
      <div class="swiper-slide">
        <img src="../static/images/s2.jpg" alt="Slide 2">
      </div>
      <div class="swiper-slide">
        <img src="../static/images/s3.jpg" alt="Slide 3">
      </div>
      <div class="swiper-slide">
        <img src="../static/images/s2.jpg" alt="Slide 4">
      </div>
      <div class="swiper-slide">
        <img src="../static/images/s3.jpg" alt="Slide 5">
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

<script>
    const swiper = new Swiper('.swiper-container', {
        // Optional parameters
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>