{% load static %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
<section id="reserve" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Reserve</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="icofont-google-map"></i>
          <h3>Address</h3>
          <address>Biratnagar, Province No 1, Nepal</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="icofont-phone"></i>
          <h3>Phone Number</h3>
          <p><a href="tel:+9779800000000">+977 9800000000</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="icofont-envelope"></i>
          <h3>Email</h3>
          <p><a href="mailto:info@example.com">info@example.com</a></p>
        </div>
      </div>

    </div>

    <div class="form" id="my-form">
      <form class="form-style" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" id="form-name" placeholder="Your Name">
            <div class="validate"></div>
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control" id="form-email" placeholder="Your Email">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="form-phone" placeholder="Phone">
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <input type="date" class="form-control" id="form-date" placeholder="Date">
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center">
          <button id="submit-btn" class="btn" style="background-color: #5c9f24; color: aliceblue;">Book Venue</button>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-group">
    <button type="button" class="btn btn-primary" id="trigger-modal" data-toggle="modal" data-target="#exampleModal"
      style="display: none;">
      Launch Modal
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <span>
                Message
              </span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="success-modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/reserve.js' %}"></script>