{% load static %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
<section id="events" class="event">
  <div class="container">

    <div class="section-title">
      <h2>Events</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At veniam expedita quia optio dolorem, reiciendis
        natus vitae a corporis iste, neque, quis placeat molestias similique! Reiciendis, praesentium itaque. Veritatis,
        eligendi!</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon">
          <img src="{% static 'images/wd.jpg' %}" class="rounded-circle event-img" alt=""
            style="width: 140px;height: 140px;">
        </div>
        <h4 class="title"><a href="">Marriage</a></h4>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, placeat sequi
          debitis voluptate repudiandae aspernatur.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon">
          <img src="{% static 'images/pt.jpg' %}" class="rounded-circle event-img" alt=""
            style="width: 140px;height: 140px;">
        </div>
        <h4 class="title"><a href="">Parties</a></h4>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, necessitatibus! Amet
          error tenetur eligendi quaerat?</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon">
          <img src="{% static 'images/bco.jpg' %}" class="rounded-circle event-img" alt=""
            style="width: 140px;height: 140px;">
        </div>
        <h4 class="title"><a href="">Confrences</a></h4>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eligendi consequatur
          harum impedit adipisci rem.</p>
      </div>
    </div>
  </div>
</section>
<!-- <img src="{% static 'images/bco.jpg' %}" class="rounded-circle" style="width: 260px; height: 240px;" alt=""> -->
<!-- <img src="{% static 'images/pt.jpg' %}" class="rounded-circle" style="width: 260px; height: 240px;" alt=""> -->
<!-- <img src="{% static 'images/wd.jpg' %}" class="rounded-circle" style="width: 260px; height: 240px;" alt=""> -->