{% load static %}
<link rel="stylesheet" href="{% static 'css/facility.css' %}">
<section id="facilities" class="facility">
  <div class="container">

    <div class="section-title">
      <h2>Facilities</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="box">
          <span>01</span>
          <h4>Gathering Hall</h4>
          <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>02</span>
          <h4>Ceremony Hall</h4>
          <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest
          </p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>03</span>
          <h4>Conference Hall</h4>
          <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-lg-4 mt-5">
        <div class="box">
          <span>04</span>
          <h4>Banquet Hall</h4>
          <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
        </div>
      </div>

      <!-- mt-lg-0 -->
      <div class="col-lg-4  mt-5">
        <div class="box">
          <span>05</span>
          <h4>Catering Service</h4>
          <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest
          </p>
        </div>
      </div>

      <!-- mt-lg-0 -->
      <div class="col-lg-4 mt-5">
        <div class="box">
          <span>06</span>
          <h4>Parking Lot</h4>
          <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
        </div>
      </div>

    </div>

  </div>
</section>